.App {
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: calc(16% - 75px);
  color: white;
}

.lineBottom {
  border-bottom: 2px solid #EAEDED;
}